body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, div{
    text-align: center;
    padding: 20px;

}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
}

h1 {
    margin: 0;
}

h2{
    margin: 0;
    padding-left: 50px;
}


#informacion-personal {
    background-color: rgba(227, 227, 227, 0.823);
    padding: 20px;
    text-align: left;
}

#informacion-personal img {
    width: 180px; 
    height: 180px;
    border-radius: 100%; 
    margin-bottom: 20px;
    margin-left: 50px;

}

.info {
    margin-bottom: 20px;
     padding-left: 50px;
  
}

h3 {
    color: #333;
    text-align: justify;

}

p {
    text-align: justify;
    font-family: 'Times New Roman', serif;
    font-size: large;
}

#proyectos {
    background-color: rgba(227, 227, 227, 0.823);
    border-top: 15px solid #333;
}

.caja {
    display: inline-block;
    margin: 10px;
}

.caja img {
 width: 150px;
 height: 150px;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

#pie{
    display: table;
    width: 100%;
    height: 15px;
    color: rgb(255, 255, 255);
    background-color: #333;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: 700;
    bottom: 0;
    left: 0;
 
} 

#pie p{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
}
#pie svg{
    margin-left: 10px;
    margin-right: 10px;
}